@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('~@/assets/font/SEBANG Gothic Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SEBANG_Gothic_Regular';
  src: url('~@/assets/font/SEBANG Gothic.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: url('~@/assets/font/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: url('~@/assets/font/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: url('~@/assets/font/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: url('~@/assets/font/Pretendard-Bold.ttf') format('truetype');
}


/* 초기화 */
* {margin:0; padding:0;}
html {overflow-y:scroll}
html.noscr {overflow:hidden;}
html.fixed {overflow-y:hidden;}
body {margin:0;padding:0;font-size: 22px;font-weight: 400;font-family: 'Noto Sans KR',sans-serif;letter-spacing:-1px;word-break: keep-all;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em;max-width: 100%;}
input, button {margin:0;padding:0;font-family: 'Noto Sans KR',sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer;font-weight: 500;}

textarea, select {font-family: 'Noto Sans KR',sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:keep-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none;font-weight: 500;display: inline-block;}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
-webkit-box-shadow:0 0 5px #9ed4ff;
-moz-box-shadow:0 0 5px #9ed4ff;
box-shadow:0 0 5px #9ed4ff;
border:1px solid #558ab7 !important;
}

.placeholdersjs {color:#aaa !important}

/* html 고정 css */
html{
  width:480px;
  min-height:100vh;
  margin:0 auto;
}

/* 공통 el selectbox */
